.message{"data-message-id": "#{message.id}"}
  .message__upper-info
    .message__upper-info__talker
      = message.user.name
    .message__upper-info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .lower-message
    - if message.content.present?
      .message__text
        = message.content
    -# = image_tag message.image, class: 'input-box__image' if message.image.present?
    -# <img class="input-box__image" src="https://s3-ap-northeast-1.amazonaws.com/uploadtesttt/uploads/message/image/379/slime.png" alt="Slime">
    - if message.image.present?
      %img.input-box__image{src: message.image.url}